{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<h1>{{ my_header }}</h1>
<h2>{{ table_title }}</h2>
<table border="1">
    <th>CWID</th>
    <th>Name</th>
    <th>Department</th>
    <th>Course</th>
    <th>Students</th>
    
    {% for instructor in instructors %}
        <tr>
            <td>{{ instructor.cwid }}</td>
            <td>{{ instructor.name }}</td>
            <td>{{ instructor.department }}</td>
            <td>{{ instructor.course }}</td>
            <td>{{ instructor.students }}</td>
        </tr>
    {% endfor %}
    
</table>

{% endblock %}